@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt-content,
  #printable-receipt-content * {
    visibility: visible;
  }
  #printable-receipt-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}

/* Hide scrollbar for category filter tabs */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
